* { font-family: Helvetica, sans-serif;
}

body{
    margin: 0px;
}

header {
    position: sticky;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 20%;
    background-color: rgb(56, 52, 75);
}

h1 {
    color: whitesmoke;
    font-family:fantasy;
    font-size: 35px;
    font-weight: 200;
    justify-content: right;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    justify-content: flex-end;
    padding-left: 20px;
}

.navlinks {
    list-style: none;
}

.navlinks li{
    display: inline-block;
}
.navlinks li :hover{
    color: #8A307F;
}

section p{
    margin: 0px;
}

.slideblue1 {
    box-sizing: border-box;
    height: 75vh;
    background-color:#79A7D3;
    color: blanchedalmond;
}

.sliderasp{
    box-sizing: border-box;
    height: 125vh;
    background-color: #8A307F;
    color: blanchedalmond;
}

.slideblue2 {
    box-sizing: border-box;
    height: 75vh;
    background-color: #6883BC;
    color: blanchedalmond;
}

footer{

}