* { font-family: Helvetica, sans-serif;
}

:root {
    --mainpurple:#8A307F;
    --darkerpurple:#5a0e51;
    --darkerblue: #6883BC;
    --lighterblue: #79A7D3;
}

body{
    margin: 0px;
}

header {
    position: sticky;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    width: 100%;
    height: 20%;
    background-color: var(--darkerpurple);
}

header h1 {
    color: whitesmoke;
    font-family:fantasy;
    font-size: 55px;
    font-weight: 200;
    justify-content: right;
}

li a {
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    justify-content: flex-end;
    padding-left: 20px;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--darkerpurple);
}


.navlinks {
    list-style: none;
}

.navlinks li{
    display: inline-block;
}
.navlinks li :hover{
    color: var(--mainpurple);
    text-decoration-color: whitesmoke;
}

.slideblue1 {
    box-sizing: border-box;
    height: 70vh;
    background-color:var(--lighterblue);
    color: blanchedalmond;
}

.sliderasp{
    box-sizing: border-box;
    height: 125vh;
    background-color: #8A307F;
    color: blanchedalmond;
}

.slideblue2 {
    box-sizing: border-box;
    height: 25vh;
    background-color: var(--darkerblue);
    color: blanchedalmond;
}

#aboutme h1{
    margin: 0px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}


.slideblue1 li{
    list-style: none;
    display: block;
    margin-right: 0px;
    
    
}

#picofmecloser {
    position: absolute;
    height: 300px;
    width: 285px;
    margin: 6% 0% 5% 5%;
    border-radius: 50%;
}

#mywork h1{
    margin: 0px;
    font-size: 40px;
    
}

#contactme h1{
    margin: 0px;
    font-size: 40px;

}

.linkedinlogo{
    height: 200px;
    width: 200px;
}
    